# Puerto del servidor
PORT=3000

# Configuración de MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root_password
DB_NAME=credit_simulator

# Configuración de la aplicación
NODE_ENV=development
